root = true

[*]
insert_final_newline = true
indent_style = space
indent_size = 2
continuous_indent_multiplier = 2

# This forces the modern file-scoped namespace style
csharp_style_namespace_declarations = file_scoped:suggestion